<%- include("page_top.ejs") %>
<main>
    <h1>
        good morning
    </h1>

    <table>
        <thead>
        <tr>
            <th></th>
            <th>Raad Heno</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainTable">  </tbody>
    </table>
</main>
<%- include("page_bottom.ejs") %>
